@charset'utf-8';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    background: linear-gradient(220deg, #E1A8C9, #B7B9E9, #9CC5F9,#ADCBFD,#F9CAFF);
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

#phone {
    position: relative;
    width: 298px;
    margin-left: auto;
    height: 618px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.37);
}

#phone img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#phone iframe {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49.5%);
    width: 268px;
    height: 472px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out

}
#phone iframe.loading {
    opacity: 0;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 60px;
    margin-left: auto;
    

}

#buttons img {
    width: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);

}

#buttons img:hover {

    box-shadow: 0px 0px 10px 3px #318aff;
    transform: translate(-2px, -2px);
    transition: 0.3s;
}
