    ::-webkit-scrollbar{
            width: 0px;
        }
        *{
            margin: 0px;
            padding: 0px;
        }
        img{
            width: 100vw;
        }
        section{
            display: flex;
            flex-direction: column;
        }
        button{
            width: 100vw;
            background-color: rgb(0, 0, 0);
            padding: 20px;
            border: none;
         
        }
        button:hover{
            background-color: rgb(110, 110, 110);
            transition: 0.5s;
        }
        a{
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            font-size: 16px;
            color: white;
        }